
/**
 * TechCrunch logo.
 */

.logo[data-logo="TechCrunch"] {
  width: 1.9997827746771193em;
}

.logo[data-logo="TechCrunch"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="TechCrunch"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="TechCrunch"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}